[project]
	description = This project contains some simple examples about bash scripting in order to get started to develop basic scripts.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
[access "refs/for/refs/*"]
	read = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	push = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	label-Code-Review = -2..+2 group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	label-Verified = -1..+1 group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	rebase = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	removeReviewer = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	submit = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
[access "refs/heads/*"]
	read = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	create = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	push = +force group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	pushMerge = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
[access "refs/tags/*"]
	push = group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
	push = +force group user/Mario Alfredo Carrillo Arevalo (MarioCarrilloA)
